<article class="mt-1">
  <ngb-accordion #acc="ngbAccordion" class="mb-2">
    <ngb-panel title="Filters & Sorting">
      <ng-template ngbPanelContent>
        <div>State</div>
        <div class="mt-2 mb-2 form-check" id="stateFilters">
          <input (change)="changeDisplayedState('')" [checked]="getBerryRequestParams.berryState === undefined"
                 class="btn-check" id="any-state" name="state"
                 type="radio"><label
          class="btn btn-outline-primary"
          for="any-state">Any</label>
          <input (change)="changeDisplayedState('open')" [checked]="getBerryRequestParams.berryState === 'open'"
                 class="btn-check"
                 id="open-state"
                 name="state" type="radio"><label
          class="ms-1 btn btn-outline-primary"
          for="open-state">Open</label>
          <input (change)="changeDisplayedState('closed')" [checked]="getBerryRequestParams.berryState === 'closed'"
                 class="btn-check"
                 id="closed-state"
                 name="state" type="radio"><label
          class="ms-1 btn btn-outline-primary"
          for="closed-state">Closed</label>
        </div>

        <div>Priority</div>
        <div class="mt-2 mb-2 form-check" id="priorityFilters">
          <input (change)="changeDisplayedPriority('')" [checked]="getBerryRequestParams.berryPriority === undefined"
                 class="btn-check" id="any-priority" name="priority"
                 type="radio"><label
          class="btn btn-outline-primary"
          for="any-priority">Any</label>
          <input (change)="changeDisplayedPriority('high')" [checked]="getBerryRequestParams.berryPriority === 'high'"
                 class="btn-check"
                 id="high-priority"
                 name="priority" type="radio"><label
          class="ms-1 btn btn-outline-primary"
          for="high-priority">High</label>

          <input (change)="changeDisplayedPriority('medium')"
                 [checked]="getBerryRequestParams.berryPriority === 'medium'"
                 class="btn-check"
                 id="medium-priority"
                 name="priority" type="radio"><label
          class="ms-1 btn btn-outline-primary"
          for="medium-priority">Medium</label>

          <input (change)="changeDisplayedPriority('low')" [checked]="getBerryRequestParams.berryPriority === 'low'"
                 class="btn-check"
                 id="low-priority"
                 name="priority" type="radio"><label
          class="ms-1 btn btn-outline-primary"
          for="low-priority">Low</label>
        </div>

        <div>Tag</div>
        <div class="mt-2 mb-2 form-check" id="tagFilters">
          <input (change)="changeDisplayedTag('')" [checked]="getBerryRequestParams.berryTag === undefined"
                 class="btn-check" id="any-tag" name="tag"
                 type="radio"><label
          class="btn btn-outline-primary"
          for="any-tag">Any</label>
          <span *ngFor="let tag of existingTags">
            <input (change)="changeDisplayedTag(tag)" [checked]="getBerryRequestParams.berryTag === tag"
                   class="btn-check" id="{{tag | alphanum}}-tag" name="tag"
                   type="radio"><label
            class="ms-1 btn btn-outline-primary"
            for="{{tag | alphanum}}-tag">{{tag}}</label>
          </span>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>


  <app-first-berry *ngIf="berries.length === 0"></app-first-berry>

  <app-berry-summary (changed)="onBerryChanged()" *ngFor="let berry of berries"
                     [berryWithId]="berry" [getBerryRequestParams]="getBerryRequestParams"></app-berry-summary>
  <nav *ngIf="berries.length > 0">
    <ngb-pagination (pageChange)="changePage($event)"
                    [boundaryLinks]="true"
                    [collectionSize]="totalEntries"
                    [maxSize]="5"
                    [pageSize]="getBerryRequestParams.pageSize!!"
                    [page]="selectedPage"
                    class="d-flex justify-content-center mt-1"></ngb-pagination>
  </nav>
</article>
